@use '../../styles/variables';

.quote {
  margin: 75px 0;
}

.quoteContent {
  color: variables.$main-color-transparent;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 90px;
  text-align: center;
  margin: 0 auto 75px auto;
  width: 80%;
  position: relative;
  z-index: 10;

  &::before {
    content: '“';
    top: 80px;
    left: -80px;
  }

  &::after {
    content: '”';
    bottom: -160px;
    right: -80px;
  }

  &::before,
  &::after {
    color: rgba(255, 255, 255, 0.3);
    font-size: 550px;
    font-weight: 400;
    position: absolute;
    z-index: -1;
  }
}

.author {
  color: variables.$secondary-gray;
  font-size: 3.6rem;
  font-weight: 500;
  text-align: right;
}
