@use '../../../styles/breakpoints';

.header {
  padding: 40px 0;
  animation: fadeIn 500ms cubic-bezier(0.165, 0.84, 0.44, 1);

  @include breakpoints.md {
    padding: 20px 0;
  }
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  @include breakpoints.lg {
    display: none;
  }
}

.nav ul {
  list-style-type: none;
}

.nav ul li {
  display: inline-block;
  margin-left: 70px;

  &:first-child {
    margin: 0;
  }
}

.link {
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  transition: font-size 300ms;
}

.link:hover,
.selectedLink {
  font-size: 1.8rem;
}

.menuIcon {
  display: none;
  color: white;
  font-size: 1.8rem;
  vertical-align: middle;
  cursor: pointer;
  transition: font-size 300ms;

  &:hover {
    font-size: 2.4rem;
  }

  @include breakpoints.lg {
    display: block;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
